@font-face {
	font-family: "FontAwesome";
	src: url('/static/fontawesome-webfont.eot');
	src: url('/static/fontawesome-webfont.eot?#iefix') format('eot'), url('/static/fontawesome-webfont.woff') format('woff'), url('/static/fontawesome-webfont.ttf') format('truetype'), url('/static/fontawesome-webfont.svg#FontAwesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

body
{
	background-color: #F3F3F3;
	font-family: "Nobile", sans-serif;
}

.clear
{
	clear: both;
}


/************************************************
 **              Clickable rows                **
 ************************************************/

table tr.clickable
{
	cursor: pointer;
}

table tr.clickable a
{
	/* This gets rid of the link styling for fallback hyperlinks in clickable table rows. */
	color: inherit;
	text-decoration: none;
}


/************************************************
 **                Page layout                 **
 ************************************************/

.wrapper
{
	width: 960px;
	margin: 0px auto;
}

.header
{
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 3px solid black;
}

.header h1
{
	float: right;
	font-weight: bold;
	font-size: 56px;
	margin: 0px;
}

.header h2
{
	float: left;
	font-weight: normal;
	font-size: 56px;
	margin: 0px;
}

.footer
{
	border-top: 3px solid black;
	margin-top: 12px;
	padding-top: 6px;
	font-size: 12px;
}


/************************************************
 **                 Page menu                  **
 ************************************************/

.menu
{
	margin: 0px;
	padding: 0px;
	background-color: #252525;
}

.menu li
{
	list-style: none;
	margin: 0px;
}

.menu li:not(.clear)
{
	display: block;
	float: left;
}

.menu li a
{
	display: block;
	float: left;
	text-decoration: none;
	background-color: #252525;
	color: #CFCFCF;
	font-size: 14px;
	padding: 6px 10px;
}

.menu li a:hover
{
	background-color: #191919;
	color: white;
}

.menu li.active a
{
	background-color: black;
	color: white;
}


/************************************************
 **                  Sections                  **
 ************************************************/
 
section
{
	padding: 12px 0px;
}

div.section
{
	margin: 12px 0px;
}

section h3, div.section h3
{
	margin-top: 6px;
}

section p, div.section p
{
	font-size: 14px;
}

p.lead
{
	font-weight: bold;
}


/************************************************
 **                   Asides                   **
 ************************************************/

aside
{
	float: right;
	margin-left: 24px;
}

aside section
{
	font-size: 14px;
	padding: 12px;
	width: 240px;
	background-color: #141414;
	margin-bottom: 16px;
	margin-top: 12px;
}

aside section, aside section a
{
	color: white;
}

aside section h3
{
	margin-top: 1px;
	margin-bottom: 4px;
	font-size: 19px;
}

/************************************************
 **            Generic table styling           **
 ************************************************/

table
{
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}

table th, table td
{
	text-align: left;
	padding: 7px 7px;
	border-left: 1px solid #252525;
	border-right: 1px solid #252525;
}

table th
{
	background-color: black;
	color: white;
	font-size: 12px;
}

table td
{
	border: 1px solid #A1A1A1;
}

table th.empty table td.empty
{
	padding: 0px;
}

table td
{
	font-size: 13px;
}


/************************************************
 **              Overview asides               **
 ************************************************/

aside section.statistics ul, section.tickets ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

aside section.tickets, section.tickets a
{
	font-size: 12px;
	text-decoration: none;
}

aside section.tickets strong
{
	font-size: 14px;
}

aside section.tickets ul li
{
	margin-top: -1px;
	margin-bottom: 0px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding: 6px 0px;
}

aside section.tickets ul li.more
{
	text-align: right;
	border: none;
}

aside section.tickets ul li.more a
{
	padding: 3px 6px;
}

aside section.tickets ul li.more a:hover
{
	background-color: black;
}

aside section.download a.download
{
	margin-top: 10px;
	display: block;
	padding: 10px 13px;
	text-decoration: none;
	border-radius: 9px;
	border: 1px solid white;
	
}

aside section.download a.download:hover
{
	color: white;
	background-color: #0C0C0C;
	border: 1px solid white;
	
}

aside section.download a.download strong
{
	display: block;
	font-size: 18px;
}

aside section.download a.download b:before
{
	display: block;
	float: left;
	font-size: 40px;
	font-family: FontAwesome;
	font-weight: normal;
	margin-right: 10px;
	margin-top: 2px;
	width: 38px;
	text-align: center;
}

aside section.download a.download b.stable:before
{
	content: "\f019";
}

aside section.download a.download b.experimental:before
{
	content: "\f0c3";
}


/************************************************
 **                  Tickets                   **
 ************************************************/

section.tickets tr.priority-low
{
	color: #2B2B2B;
	background-color: #EDEDED;
}

section.tickets tr.priority-low:hover
{
	background-color: #E3E3E3;
}

section.tickets tr.priority-normal
{
	color: black;
	background-color: #E7F7F7;
}

section.tickets tr.priority-normal:hover
{
	background-color: #DEEEEE;
}

section.tickets tr.priority-high
{
	background-color: #F7D6D6;
}

section.tickets tr.priority-high:hover
{
	background-color: #EECECE;
}

section.tickets tr.priority-high td.priority
{
	color: red;
	font-weight: bold;
}

section.tickets tr.status-closed
{
	color: gray;
	background-color: #D0D0D0;
}

section.tickets tr.status-closed:hover
{
	background-color: #C7C7C7;
}

section.tickets tr.status-closed.priority-high td.priority
{
	color: #656565;
}


/************************************************
 **               Ticket lookup                **
 ************************************************/
 
 
.section.ticket-original
{
	border: 1px solid #373737;
}

.section.ticket-original h2
{
	margin: 0px;
	padding: 9px 8px;
	background-color: #373737;
	color: white;
	font-size: 16px;
	font-weight: normal;
}

.section.ticket-original .metadata
{
	margin: 11px;
	font-size: 13px;
}

.section.ticket-original .metadata .currentdata, .section.ticket-original .metadata .originaldata
{
	float: left;
	width: 50%;
}

.section.ticket-original .metadata .key
{
	font-weight: bold;
	margin-right: 8px;
}

.section.ticket-original .metadata > div > div
{
	margin-top: 4px;
}

.section.ticket-original .body
{
	margin: 11px;
	padding-left: 4px;
	font-size: 15px;
}

.section.ticket-updates > div
{
	margin-bottom: 12px;
}

.section.ticket-updates .message
{
	border: 1px solid #373737;
	padding: 11px;
}

.section.ticket-updates .message .metadata
{
	font-size: 15px;
}

.section.ticket-updates .message .metadata .author
{
	font-weight: bold;
	margin-right: 8px;
}

.section.ticket-updates .message .metadata .date
{
	color: #585858;
}

.section.ticket-updates .message p
{
	margin-bottom: 0px;
}

.section.ticket-updates .event
{
	color: white;
	background-color: #373737;
	padding: 12px;
	font-size: 13px;
}

.section.ticket-updates .event .author, .section.ticket-updates .event .value
{
	font-weight: bold;
}

.section.ticket-updates .event .date
{
	float: right;
	color: #DADADA;
}
